<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Cafe&Wifi API</title>
</head>
<body style="background-color:#F3E9DD">
<div class="container" style="padding: 20%;">
    <h1>Welcome to the Cafe & Wifi API</h1>
    <p>See documentation <a href="https://documenter.getpostman.com/view/20062544/UVsMw6YB">here.</a></p>
</div>
</body>
</html>